@import "coinFlipLobbyAvatar/coinFlipLobbyAvatar";
@import "coinFlipLobbyValue/coinFlipLobbyValue";

.lobbies__lobby {
  height: 20em;
  background: var(--button--dark);
  transition: 0.3s all ease-in-out;
  animation: FadeIn 0.8s ease-in-out;

  &:before {
    @include leftLine();
  }

  &:hover {
    transform: scale(1.05);
    box-shadow: 10px 10px 10px -9px rgba(0, 0, 0, 0.71);
  }

  button {
    padding: 1em;
  }
}
