@import "menuLink/menuLink";

.menu__content {
  overflow-y: auto;

  span {
    font-size: 4rem;
    margin-right: 0.2em;
  }
}

@media screen and (max-width: 600px) {
  .menu .menu__content {
    width: 100%;

    a {
      width: 100%;
      justify-content: center;
      font-size: 2.5em !important;
    }
  }
}
