.global-info__close {
  position: absolute;
  top: 0;
  right: 0;

  span {
    color: var(--text-color);
    transition: 0.3s color ease-in-out;
  }

  &:hover span {
    color: var(--paragraph-color);
  }
}
