.form-container {
  padding: 1.5em;
  justify-content: center;
}

.align-center {
  text-align: center;
}

.alig-left {
  text-align: left;
}

.line {
  margin-bottom: 1.5rem;
}

.wide-line {
  margin-bottom: 5rem;
}
