img {
  pointer-events: none;
  user-select: none;
}

.small-icon {
  width: 2.5rem;
  height: 2.5rem;
}

.icon {
  width: 4rem;
  height: 4rem;
}

.medium-icon {
  width: 5rem !important;
  height: 5rem !important;
}

.large-icon {
  width: 10rem;
  height: 10rem;
}

.roundy-icon {
  border-radius: 100%;
}

.animated-icon {
  pointer-events: auto;
  transition: 0.3s transform ease !important;

  &:hover {
    transform: scale(1.1) rotateZ(10deg);
  }
}

svg {
  .st1 {
    fill: var(--text-color);
    stroke: var(--text-color);
  }
  .st2 {
    fill: transparent;
    stroke: var(--text-color);
  }

  .st0 {
    stroke: var(--text-color);
  }

  .st3 {
    fill: var(--text-color);
  }
}

.material-icons {
  user-select: none;
}

.robux-icon {
  span {
    font-size: 12em;
  }

  animation: none;
  transition: 0.5s all ease-in-out;
}
