.menu__content > a,
.dropping-list > .dropping-list__heading a,
.dropping-list .dropping-list__content a {
  text-transform: uppercase;
  font-size: 2rem;
  position: relative;
  padding: 0.25em 0.25em 0.25em 1em;
  transition: 0.3s all ease-in-out;

  a {
    font-size: 2rem;
  }

  svg {
    margin-right: 0.5em;
  }

  &:hover,
  &.active {
    svg {
      .st0,
      .st2 {
        stroke: url(#linear-gradient);
      }
      .st1 {
        fill: url(#linear-gradient);
        stroke: white;
      }
      .st3 {
        fill: url(#linear-gradient);
      }
    }

    span {
      background: var(--color-active--gradient);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

.menu__content > a,
.dropping-list > .dropping-list__heading > a {
  border-left: 2px solid transparent;

  &:hover,
  &.active {
    border-left: 2px solid var(--color-active);
  }
}
